body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

.text-center {
    text-align: center;
}

#body-header {
    height: 65vh;
    background-image: url(../assests/back-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
    background-repeat: no-repeat;
}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0 1rem 0 1rem;
    
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;

    font-weight: 100;
    font-size: 1.4rem;
}
.horizontal-list li a {
    color: white;
    text-decoration: none;
}

nav {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 0.3rem 0 0.3rem 0;
    margin: 5px 10vw 5px 10vw;
    background-color: #313132;
}
.nav-menu li a {
    transition: color 0.5s, border-bottom 4s,font-size 0.5s;
    
}

.nav-menu li a:hover {
    color: 	#0088cc;
    border-bottom: 2px solid #0088cc;
    font-size: 2rem;
}



#info-link-container {
    height: 30vh;
    width: 20vw;
    border-radius: 3px;
    margin-top: 20vh ;
    margin-left: 40vw;
    margin-right: 40vw;
    box-shadow: 0px 10px 13px -7px #000000, 4px 9px 14px 13px rgba(0,0,0,0.28);


}

#info-link-container div {
    background-color: white;
    box-shadow: 0px 10px 13px 0 #000000, 4px 9px 14px 13px rgba(0,0,0,0.28);
}

#my-name {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: black;
    font-weight: 700;
    margin: 0;
}

#my-img {
    height: 40%;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.social-icons li a i {
    color: #000000;
 
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}


section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
}
.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #DB4437;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}



#about {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
#about-div {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}



.skills-div {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

.por {
    position: relative;
    width: 80%;
    /* border: 2px dotted black; */
    left:20%;
    margin-top: 1%;
    margin-left: -2%;
    display: flex;
    padding: 4%;
}

.club-logo {
    flex-shrink: 5;
    padding: 2%;
    background-color: white;
    /* border: 3px solid blue; */
}
.club-logo img{
    width: 150px;
    height: 150px;
}
.por-content{
    flex-shrink: 1;
    
    /* border: 3px solid green; */
}

.por-content h2{
    margin: 0;
}
.por-content span {
    padding-left: 10px;
    font-size: 1.8rem;
    color: black;
    display: inline-block;
    padding-top: 10px;
    
   
}

h2 .club-name {
    color: grey;
    font-size: 1.4rem;
}

.por-div {
    padding: 5px;
    width: 80vw ;
    min-height: 150px;
    position: relative;
    
   
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 16%;
    right: 90%;
    border-left: 5px dashed #F4B400;
    height: 66%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 105px;
    right: 30px;
    z-index: 2;
 
}
#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #0F9D58;
    font-size:  3.5rem;
}

#contact-me {
    
    position: fixed;
    bottom: 5%;
    right: 3%;
    border-radius: 20px;
    background-color: #f4b400;
 
}
#contact-me h2{
    font-size: 18px;
    padding: 0 7px 0 7px;
    
}
#contact-me a{
    text-decoration: none;
    color: white;
}


#contact-page {
    height: 0;
    width: 0;
    position: fixed;
    padding-top: 4px;
    bottom: 5%;
    right: 3%;
    overflow: hidden;
    text-align: center;
    background-color: #4285F4;
    transition: all 2s ease-in-out;
}

#contact-page:target {
    height: 50vh;
    width: 20vw;
    bottom: 5%;
    right: 3%;

}
#contact-page a{
    text-decoration: none;
    color: white;
    margin: 3px;
}

.contact-ul {
    padding: 2px;
}
#contact-page  li  {
    list-style: none;
    padding-top: 10px;
   text-decoration: none;
}
#contact-page  li a i {
    color: white;
    border-radius: 50%;
}

#contact-page  li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* setting background-color */

.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}
.mb-gyellow {
    background-color: #f4b400;
}
.mb-ggreen {
    background-color: #0f9d58;
}
.mb-gblue {
    background-color: #4285f4;
}


/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}
.thirty-five-percent {
    height: inherit;
    width: 35%;
}
.seventy-five-percent{
    height: inherit;
    width: 75%;
}
.seventy-percent{
    height: inherit;
    width: 70%;
}
.eighty-percent {
    height: inherit;
    width: 80%;
}
.ninty-percent {
    height: inherit;
    width: 90%;
}


.fifty-percent {
    height: inherit;
    width: 50%;
}
